@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

:root {
  --fs-600: 2rem;
  --fs-500: 1.35rem;
  --fs-400: 1rem;
  --col-whr: #e2e1e1;
  --col-whp: #f7e4f2;
  --col-rd: #3a063e;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  font-family: "Nanum Gothic", sans-serif;
  background: #0c0c0c;
  width: 100%;
  height: 100vh;
  font-size: 10px;
  letter-spacing: 4px;
  color: var(--col-whr);
  -webkit-user-select: none; 
    user-select: none;
  margin: 0;
  padding: 0;
}

.topnav h2 {
  font-size: var(--fs-500);
  margin-right: 3em;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  border-radius: 0.5rem;
  text-align: center;
  gap: 1em;
}

.player .gif {
  max-width: 60%;
  margin: 1em auto;
  border-radius: 0.5rem;
  background-color: #212121;
  padding: 1em;
}

.player_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: flex-start; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 85%;
}

#controls {
  width: 85%;
  padding: 1.4em;
}

.controls_wrapper {
  margin: 0.5em;
  /* border: 1px solid #212121; */
  -webkit-box-shadow: 1px 3px 1px #212121;
  box-shadow: 1px 3px 1px #212121;
  border-radius: 0.5em;
  padding: 0.6em;
  height: 27vh;
}

.controls_wrapper button {
  /* font-size: var(--fs-500);   */
  width: 2em;
  height: 2em;
  cursor: pointer;
  color: var(--col-whp);
  padding: .4em;
  margin: 0.3em;
  border-radius: 0.5em;
  background-color: #212121;
  -webkit-box-shadow: 1px 1px 1px #653e78;
  box-shadow: 1px 1px 1px #99939c;
  outline: none;
  border: none;
}

.controls_wrapper button:active {
  -webkit-box-shadow: 2px 2px 2px #212121;
  box-shadow: 2px 2px 2px #212121;
  padding-right: 0.7em;
}

button#play  {
  background-color: var(--col-rd);
}

button:active {
  background-color: transparent;
}

.volume-onOff {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-onOff p {
  background-color: #212121;
  padding: .9em;
  border-radius: .5em;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

progress {
  width: 75%;
  height: 3rem;
  cursor: pointer;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-container p {
  font-size: .9em;
  letter-spacing: normal;
  margin: 0 .5em;
}

/* volume slider styles */
.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.volume span {
  font-size: 1.4em;
  background-color: #212121;
  padding: 0 .2em;
  border-radius: .3em;
  cursor: pointer;      
}

.volume span:active {
  -webkit-box-shadow: 2px 2px 2px #212121;
  box-shadow: 2px 2px 2px #212121;
  padding-right: 0.3em;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 65%;
    height: 1em;
    border: 1px solid var(--col-rd);
    border-radius: 0.2em;
    -webkit-appearance: none;
    background-color: var(--col-whr);
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 0.6em;
    -webkit-appearance: none;
    color: var(--col-rd);
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 1em;
    -webkit-appearance: none;
    height: 2em;
    border-radius: 0.3em;
    cursor: pointer;
    background: #0c0c0c;
    -webkit-box-shadow: -8em 0 0 8em var(--col-rd);
    box-shadow: -8em 0 0 8em var(--col-rd);
  }
}

/* volume slider styles */

#currentSong {
  text-align: center;
  font-size: var(--fs-400);
  overflow: hidden;
}

#songList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1em;
}

#songList div {
  /* width: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1em;
  padding: 0;
  margin: 0 auto;
}

#songList div a {
  cursor: pointer;
  padding: 0.4em;
  font-size: var(--fs-500);
  margin: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 1px 1px 1px #212121;
  box-shadow: 1px 1px 1px #212121;
}

#songList div a:hover {
  background: var(--col-rd);
  border-radius: 0.3em;
  padding: 0.5em;
  opacity: 0.6;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--col-rd);
  padding: 1em;
  opacity: 0.95;
}

footer p {
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1em;
}

footer a {
  text-decoration: none;
  color: var(--col-whp);
  font-size: var(--fs-500);
}

@media (max-width: 800px) {
  .player {
    height: auto;
  }
  .player_one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 21% auto;
  }
}
