* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "MuseoModerno", cursive;
  font-size: 10px;
  background-color: #0a2e1c;
  color: rgb(230, 225, 225);
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #0d3a1c;
  padding: 1rem;
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.logo {  
  margin: 0 auto;
  text-align: center;  
}

.logo svg {
  font-size: 11vw;
  margin: 0 auto;  
}

.form {
  text-align: center;
}

label {
  font-size: 1.2em;
}

input[type="number"] {
  font-family: inherit;
  background: rgb(230, 225, 225);
  width: 25%;
  margin: 1em auto;
  padding: .5em;
  border: none;
  border-radius: .5em;
  font-size: 1rem;
  text-align: center;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: bolder;
  width: 3.1em;
  height: 3.1em;
  border: none;
  border-radius: 50%;
  background: #d1820c;
  margin: 0.5rem 0 1rem 0;
}

.container-section {
  width: 85%;
  max-height: 100%;
  padding: 1em;
  margin: 0 auto;
}

section {
  width: 85%;
  margin: 0 auto;
  padding: 0.5em;
}

ul {
  width: 75%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0 auto;
}

li {
  border: 1px solid;
  padding: 1rem 1.5rem;
  margin: .2em;
}

.entriesWrapper {
  width: 95%;
  padding: 1rem 0;
  font-size: 1.6rem;
}

.entriesWrapper h3 {
  margin: 0.5em;
  text-align: center;
  font-weight: lighter;
}

.data {
  display: flex;
  gap: 0.5em;
  font-size: 1rem;
  justify-content: center;
}

.data div {
  width: 55%;
  background: #21412e9f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em auto;
  padding: 1rem;
}

.progress {
  text-align: center;
  padding: 1rem;
}

.progress h3 {
  font-size: 1.6rem;
  font-weight: lighter;
}

.progressCircleWrapper {
  display: flex;
  justify-content: center;
  margin: 1em auto;
}

#progressCircle {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  /* background: conic-gradient(#70db70, 50%, #2d3740 50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

#progressCenter {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #0d3a1c;
}

@media screen and (min-width: 800px) {

  svg {
    max-width: 50%;
  }
}
