:root {
  --bar: #b6447d;
  --red: #a53b3b;
  --Bkgr: #212121;
  --gradient-1: #270707;
  --gradient-2: #030000;
  --whitey: #91a891;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 10px;
  font-weight: 300;
  background: radial-gradient(var(--gradient-1), var(--gradient-2));
  color: var(--whitey);
  width: 100%;
  height: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--Bkgr);
  border: solid var(--red);
  border-width: 0 1.3em;
  width: 50%;
  max-height: 80vh;
  border-radius: 0.6em;
  padding: 1rem;
  margin: 5% auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  letter-spacing: .3em;  
}

.welcome h2 {
  font-size: 2.2rem;
  margin: 15% auto 1em;
}

.welcome p {
  font-size: 1.8rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 1em auto;
}

.select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin: 0 auto;  
}

.img-container {
  width: 75%;
  margin: 0 auto;
}

.img-container img {
  width: 70%;
  border-radius: .1em;
  
}

button {
  border: none;
  cursor: pointer;
  background: var(--whitey);
  padding: 1em;
  border-radius: .5em;
  width: 75%;
  margin: .3em auto;
  outline: none;
  font-weight: bold;
  letter-spacing: .1em;
}

button:last-child {
  background: var(--red);  
}

button:first-child:active {
  padding: 2.1rem;
}

button:last-child:active {
  padding: 2.1rem;
}

h3 {
  font-size: 2rem;
}

input {
  border: 1px solid var(--red);
  border-radius: .5em;
  background: transparent;
  margin: 2rem 0;
  padding: 1rem 0;
  width: 16rem;
  text-align: center;
  color: var(--whitey);
}

#range {
  display: flex;
  background: var(--green);
  height: 50px;
  padding: 0;
  margin: 0 0 4rem 0;
}

#rangeOutput {
  font-size: 1.6rem;
}

.stats {
  text-align: left;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.info span {
  font-size: 1.6rem;
}

#newGameButton {
  border-radius: 0;
}

.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .main-container {
    width: 85%;
  }
}
